<%= form_with(model: shot, local: true) do |form| %>
  <% if shot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shot.errors.count, "error") %> prohibited this shot from being saved:</h2>
      <ul>
      <% shot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field shot-field">
    <%#= form.label :name %>
    <%= form.label :name, 'Name your linkshot' %>
    <%= form.text_field :name, id: :shot_name %>
  </div>
  <div class="links">
    <%= form.fields_for :links do |link| %>
      <%= render 'link_fields', :form => link %>
    <% end %>
  </div>
  <% if shot.id.nil? or shot.user == current_user %>
    <div class="actions">
      <div class="publish-action">
        <div class="custom-checkbox">
          <%= form.check_box :published, default: :checked %>
          <%= form.label :published, 'Make public' %>
        </div>
      </div>
      <div class="submit-action">
        <%= link_to_add_association 'add a link', form, :links, form_name: 'form', data: {association_insertion_node: '.links', association_insertion_method: :append } %>
        <%= form.submit 'Save' %>
      </div>
    </div>
  <% end %>
<% end %>
