<% unless notice == '' or notice.nil? %>
	<p id="notice"><%= notice.html_safe %></p>
<% end %>
<%= render partial: 'shot_metadata', object: @shot, as: :shot %>
<ul class="link-list">
	<% @shot.links.each do |link| %>
		<li>
			<%= link_to link.url do %>
				<div class="link-box">
					<% if link.image.nil? %>
						<%= image_tag 'logo.svg', class: "link-image link-image-default" %>
					<% else %>
						<%= image_tag link.image, class: "link-image" %>
					<% end %>
					<div class="link-text">
						<h4 class="link-title"><%= truncate(link.title, :length => 65) unless link.title.nil? %></h4>
						<p><%= truncate(link.description, :length => 110) unless link.description.nil? %></p>
					</div>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>
<% if !@shot.user.nil? && @shot.user == current_user %>
	<%= link_to 'Edit', edit_shot_path(@shot), class: 'edit-link-list' %>
	<%= link_to "Delete", shot_path(@shot), method: :delete, class: 'edit-link-list' %>
<% end %>
