<h2 id="shot-name"><%= @shot.name %></h2>
<% unless @shot.user.nil? %>
	<h6 id="created">Created by &nbsp; <%= image_tag @shot.user.profile_image, id: 'small-avatar', class: 'avatar' %> <%= @shot.user.name %></h6>
<% end %>
<ul class="link-list">
	<% @shot.links.each do |link| %>
		<li>
			<%= link_to link.title, link.url %>
		</li>
	<% end %>
</ul>

<% if @shot.user == current_user %>
	<%= link_to 'Edit', edit_shot_path(@shot), class: 'edit-link-list' %>
<% end %>
