<h2 id="shot-name"><%= @shot.name %></h2>
<% unless @shot.user.nil? %>
	<h6 id="created">Created by &nbsp; <%= image_tag @shot.user.profile_image, id: 'small-avatar', class: 'avatar' %> <%= @shot.user.name %></h6>
<% end %>
<ul class="link-list">
	<% @shot.links.each do |link| %>
		<li>
			<%= link_to link.url do %>
				<div class="link-box">
					<% if link.image.nil? %>
						<%= image_tag 'logo.svg', class: "link-image" %>
					<% else %>
						<%= image_tag link.image, class: "link-image" %>
					<% end %>
					<div class="link-text">
						<h4 class="link-title"><%= link.title %></h4>
						<p><%= link.description %></p>
					</div>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>
<% binding.pry %>
<% if !@shot.user.nil? && @shot.user == current_user %>
	<%= link_to 'Edit', edit_shot_path(@shot), class: 'edit-link-list' %>
<% end %>
