<!DOCTYPE html>
<html>
  <head>
    <title>Linkshot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		<div class="row">
  			<div class="col col-md-10 offset-md-1">
  				<nav class="navbar navbar-expand-lg">
  					<a class="navbar-brand" href="/">Linkshot</a>
  					<ul class="navbar-nav ml-auto">
				      <% if current_user %>
				          <li>
				          	<%= link_to user_path(current_user), class: "nav-link" do %>
				          		<%= image_tag current_user.profile_image, class: 'avatar' %>
				          		<%= '@' + current_user.name %>'s shots
				          	<% end %>
				          </li>
				          <li>
				          	<%= link_to 'log out', logout_path, method: :delete, class: "nav-link" %>
				          </li>
				        <% else %>
				          <li><%= link_to "Sign in with Twitter", "/auth/twitter", class: "nav-link" %></li>
				        <% end %>
				    </ul>
  				</nav>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col col-md-6 offset-md-3 main">
  				<div class="row">
  					<div class="col col-md-10 offset-md-1">
    					<%= yield %>
    				</div>
    		</div>
    	</div>
    </div>
  </body>
</html>
