<!DOCTYPE html>
<html>
  <head>
    <title>Linkshot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon-96x96.png', rel: "shortcut icon", type: "image/png", sizes: "96x96" %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: "shortcut icon", type: "image/png", sizes: "32x32" %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: "shortcut icon", type: "image/png", sizes: "16x16" %>
    <%= favicon_link_tag 'android-icon-192x192.png', rel: "shortcut icon", type: "image/png", sizes: "192x192" %>
    <%= favicon_link_tag "apple-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180" %>
    <%= render 'layouts/metadata' %>
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="col col-12 col-md-10 offset-md-1">
  				<nav class="navbar navbar-expand-lg">
  					<%= link_to '/', class: 'navbar-brand' do %>
              <%= image_tag 'logo', class: 'logo' %>
              <h4>Linkshot <span id="beta">BETA</span></h4>
            <% end %>
  					<ul class="navbar-nav ml-auto">
              <li>
                <%= link_to 'Shots', shots_path, class: "nav-link" %>
              </li>
				      <% if current_user %>
				          <li>
				          	<%= link_to user_path(current_user), class: "nav-link" do %>
				          		<%= image_tag current_user.profile_image, class: 'avatar' %>
				          		<%= '@' + current_user.name %>'s shots
				          	<% end %>
				          </li>
				          <li>
				          	<%= link_to 'Log Out', logout_path, method: :delete, class: "nav-link" %>
				          </li>
				      <% else %>
				          <li><%= link_to "Sign in with Twitter", "/auth/twitter", class: "nav-link" %></li>
				      <% end %>
				    </ul>
  				</nav>
  			</div>
  		</div>
  		<div class="row main-row">
  			<div class="col col-12 col-md-6 offset-md-3 main">
  				<div class="row">
  					<div class="col col-md-10 offset-md-1">
    					<%= yield %>
    				</div>
    		</div>
    	</div>
    </div>
    <div class="row">
      <div class="col col-12 byline">
        <p id="byline">Made by <%= link_to '@libovness', 'https://twitter.com/libovness' %></p>
      </div>
    </div>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4227199-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-4227199-9');
  </script>
</html>
